.App {
  height: 58.75em;
  min-height: fit-content;
}

.ToolbarStageDancerList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: fit-content;
}

.Toolbar {
  width: 15em;
  padding: 1em;
  border: 0.1em solid black;
}

.Stage {
  min-width: fit-content;
  width: 100%;
  height: 45em;
  border: 0.1em solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DancerList {
  width: 28em;
  padding: 1em;
  border: 0.1em solid black;
}

button {
  background-color: inherit;
  border: none;
  font-size: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  cursor: pointer;
}

button:hover {
  background-color: #DCDCDC;
  color: #800000;
  font-weight: bold;
}