.App {
  height: 50em;
  min-height: fit-content;
  font-size: 12px;
}

.ToolbarStageDancerList {
  display: flex;
  justify-content: space-between;
  min-width: fit-content;
  border: 0.1em solid black;
}

.Toolbar {
  width: 10em;
  padding: 1em;
  border-left: 0.1em solid black;
  border-right: 0.1em solid black;
}

.Stage {
  min-width: fit-content;
  width: 73.4em;
  height: 53em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DancerList {
  width: 15em;
  padding: 1em;
  border-left: 0.1em solid black;
  border-right: 0.1em solid black;
}

button {
  background-color: inherit;
  border: none;
  font-size: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  cursor: pointer;
}

button:hover {
  background-color: #DCDCDC;
  color: #800000;
  font-weight: bold;
}