.dancerContainer p {
    margin: 0.2em;
    padding: 0;
}

.stage span {
    position: absolute;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.frontCenter {
    top: 100%;
    left: 50%;
    transform: translate(-0%, -100%);
}

.frontLeftQuarter {
    top: 100%;
    left: 25%;
    transform: translate(-0%, -100%);
}

.frontRightQuarter {
    top: 100%;
    right: 25%;
    transform: translate(-0%, -100%);
}

.backCenter {
    top: 0%;
    left: 50%;
}

.backLeftQuarter {
    top: 0%;
    left: 25%;
}

.backRightQuarter {
    top: 0%;
    right: 25%;
}

.rightCenter {
    top: 50%;
    right: 0%;
}

.rightUpperQuarter {
    top: 25%;
    right: 0%;
}

.rightLowerQuarter {
    top: 75%;
    right: 0%;
}

.leftCenter {
    top: 50%;
    left: 0%;
}

.leftUpperQuarter {
    top: 25%;
    left: 0%;
}

.leftLowerQuarter {
    top: 75%;
    left: 0%;
}

.centerCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}