.parentContainer {
    width: 100%;
}

.infoContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.1em;
    row-gap: 1em;
    align-items: center;
    cursor: pointer;
}

.infoContainer:hover {
    background-color: #DCDCDC;
}

.formContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.1em;
    row-gap: 1em;
    align-items: center;
}

.infoContainer div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer input {
    width: 50%;
}

.formContainer button {
    width: 50%;
}

.listContainer {
    width: 100%;
    max-height: 40em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}